body{
		background-color:#aaf9e8;
}
.white{
	background-color:#FFFFFF !important;
}
.flex-container{
	display: flex;
	justify-content: center;
}
.MainContent{
	margin-top:11%;
}
a.btn{
	width:100%;
	border-radius:50px;
	font-size:20px;
}
.flie_uploader{
	background-color:#50e3cb;
	padding:50px;
	border:1px dashed;
}

.floated_img
{
    float: left;
}

.f_head{
	padding-top:20px;
	padding-bottom:20px;
}

.caption{
	color:#000000;
	font-weight:bold;
	width:200px;
    	text-align:left;
}

.input-field{
	padding-top:10px;
	padding-bottom:10px;
}
#doc-content{
	height: 100% !important;
	width: 100%;
	border: none;
    display: block;
}
object{
	max-width: 100% !important; 
	max-height: 100% !important; 
	overflow: hidden;
}
.bs-form{
	max-height:830px;
	overflow:hidden;
	overflow: scroll;
	padding:10px 0 10px 0;	
}

.img-scroll{
	max-height:830px;
	overflow:hidden;
	overflow: scroll;
}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}

nav {
    color: #fff;
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    line-height: 56px;
}


.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container > div {
  width: ;
  margin: ;
  text-align: center;
}
